.Home_Container {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
}

.home_top_section {
  background-color: rgb(230, 178, 178);
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background: linear-gradient(#00000098, black),
    url("../../assets/img/kevin.jpg") fixed center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.home_intro {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 85%;
  margin: -80px auto 50px auto;
  background-color: #f3f3f3;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0px 0px 5px 0px #cfcfcf;
  justify-content: space-evenly;
  text-align: center;
}

@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
